hostname= api.m.jd.com, me-api.jd.com, passport.iqiyi.com, hweb-mbf.huazhu.com ,mcs-mimp-web.sf-express.com

# By NobyDa https://github.com/NobyDa/Script/tree/master
# 获取京东Cookie
^https:\/\/(api\.m|me-api)\.jd\.com\/(client\.action\?functionId=signBean|user_new\/info\/GetJDUserInfoUnion\?) url script-request-header https://raw.githubusercontent.com/NobyDa/Script/master/JD-DailyBonus/JD_DailyBonus.js

# 获取爱奇艺Cookie
# https://m.iqiyi.com/user.html 使用密码登录, 如通知成功获取cookie则可使用该脚本.
^https:\/\/passport\.iqiyi\.com\/apis\/profile\/info\.action url script-request-header https://raw.githubusercontent.com/NobyDa/Script/master/iQIYI-DailyBonus/iQIYI.js

#华住会
https:\/\/hweb-mbf\.huazhu\.com\/api\/signIn url script-request-header https://raw.githubusercontent.com/evilbutcher/QuantumultX/master/check_in/hzh/hzh.js

#顺丰速运
^https:\/\/mcs-mimp-web\.sf-express\.com\/mcs-mimp\/share\/weChat\/shareGiftReceiveRedirect.+ script-path=https://gist.githubusercontent.com/Sliverkiss/1fb1cf9cd7486d30752b1ba29b871e37/raw/sfsy.js
